body{
    background-color: #F9F5F1;
    color: #744253 !important; 
}

.container{
    color: #744253 !important;
}

.titulo{
    color: #744253;

}

.sobrenos{
    color: black;
}

.tabs{
    background-color: #976D5E;
    color: white;
}