.footer {
    background-color: #744253;
    color: #F9F5F1;
  }
  
  .iconesFooter {
    font-size: 2rem;
  }
  
  .iconeInd {
    color: #fff;
  }
  
  .iconeInd:hover {
    color: #bbb;
    cursor: pointer;
  }

  .itemsfooter{
    font-size: 15px !important;
  }

  .mui{
    font-size: 13px !important;
  }