.text-decorator-none{
    text-decoration: none;
}

.imagem1{
    background-image: url('../../assets/imagens/imagem.jpg');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.form{
    background-color: #f9f5f1;
}

.form1{
    font-weight:bolder !important;
    color: black;
}

.botao{
    background-color: #744253 !important;
    color: #f9f5f1;
}

.cadastre{
    font-weight: bolder !important;
    color: #744253;
}

.cadastre:hover{
    text-decoration: none !important;
    color: #976D5E;
}

.preencher{
    background-color: #744253;
}

/* .formularioLogin{
    background-color: #D7BEA8;
    padding: 5px;
} */