.titulo{
  font-weight: 900px;
  color: #385cb1;
}

.subtitulo{
  color: #385cb1;
}

.texto {
    text-align: center;
  }
  
  .alinhamento {
    display: flex;
  }
  
  .botao{
    border-color: white !important;
    background-color: #385cb1 !important;
    color: white !important;
  }

  
.botao:hover {
    background-color: white!important;
    color:#385cb1 !important
  }

  .caixa {
    background-color: "#385cb1";
  }

  .postagens{
    background-color: white;
  }
  