.titulo{
  font-weight: 900px;
  color: #744253;
}

.subtitulo{
  color: black;
}

.texto {
    text-align: center;
    color: black;
  }
  
  .alinhamento {
    display: flex;
  }
  
  .botao{
    border-color: #F9F5F1 !important;
    background-color: #744253 !important;
    color: #F9F5F1 !important;
  }

  
.botao:hover {
    background-color: #976D5E!important;
    color: white !important
  }

  .caixa {
    background-color: "#744253";
  }

  .postagens{
    background-color: #F9F5F1;
  }

  .imagemHome{
    background-image: url('../../assets/imagens/imagem.jpg') !important;
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}