.navbar {
    background-color: #744253 !important;
    color: #F9F5F1;
  }

.cursor{
  justify-content: end;
  cursor: pointer;
  color: #F9F5F1; 
  margin-top: 20px;
  margin-bottom: -20px;
}
.text-decorator-none{
  text-decoration: none;
}

.nomeblog{
  color: #F9F5F1;;
}