.imagem2{
    background-image: url('../../assets/imagens/imagem4.jpg');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: #F9F5F1 !important;
}

.texto2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
    background-color: #C78283 !important;
}

.btnCancelar:hover{
    background-color: #976D5E !important;
    color: #F9F5F1 !important;
}


.btnCadastrar{
    background-color: #744253 !important;
}

.btnCadastrar:hover{
    background-color: #976D5E !important;
    color: #F9F5F1 !important;
}

.text-decorator-none{
    text-decoration: none;
}

.preencher{
    background-color: #74425329;
}

.formulario{
    padding-left: 75px;
    padding-right: 75px;
}

.boxcadastro{
    /* background-color: #d7bea849; */
    padding: 30px;
    margin: 5px;
    border-radius: 15px;
}